.Rproj.user/
.Rhistory
.RData
.Ruserdata

*.nc

## Ignore shapefiles if needed
# *.shp
# *.shx
# *.dbf
# *.prj
# *.cpg

## Ignore entire shapefile folder
data/species-distribution-shapefiles/

## Ignore hoard folders anywhere
**/hoard/

## Ignore workbook/data folders
data/preliminary-scores/
data/final-scores/
data/master-lists/

## Ignore specific files
Code-hoard.R
bfg.jar

## Ignore resource folder contents
resources/
